.idea/*
*.user
Build/
.vs/
[Oo]bj/
[Bb]in/
packages/
licenses.licx
/NuGet.Config
/.dotnet/.dotnet
/artifacts/client-build
/Client/artifacts/codex-build/Client
/LibraryCore/artifacts/codex-build/Client
