/Client/obj/Debug
/ImageManager/obj/Debug
/Launcher/obj/Debug
/Library/obj/Debug
/PatchManager/obj/Debug
/Patcher/obj/Debug
/Server/obj/Debug
/.vs/Zircon Server/v15/Server/sqlite3
/LibraryEditor/obj
/LibraryEditor/bin
/Build/LibraryEditor/Exported
/.vs/Zircon Server/v15/*.suo
/Build/LibraryEditor

/packages/Ionic.Zlib.1.9.1.5
